.relatedproducts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
}
.realtedproducts h1{
    color: brown;
    font-size: 16px;
    font-weight: 600;
}
.relatedproducts hr{
    width: 200px;
    height: 60px;
    border-radius: 10px;
    background: darkslategray;
}
.relatedproducts-item{
    margin-top: 50px;
    display: flex;
    gap: 30px;
}